<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <meta
      name="author"
      content="paul mondl (isdadev) & phillip schlichting (philrico)"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body id="home">
    <header>
      <nav class="desktop">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      <div class="nav-mobile">
        <div class="nav-mobile-symbol">
          <img src="/assets/navbar-mobile-bars.png" alt="" width="40px" />
        </div>
        <div class="nav-mobile-links">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/impressum">Impressum</a></li>
            <li><a href="/privacy">Privacy</a></li>
          </ul>
        </div>
      </div>
    </header>

    <main>
      <section class="header-section">
        <div class="media">
          <video muted id="header-video-1" autoplay>
            <source src="assets/video.mp4" />
          </video>
          <img
            src="assets/header-image-1.png"
            alt="headerimg1"
            id="header-image-1"
          />
          <img
            src="assets/header-image-2.png"
            alt="headerimg2"
            id="header-image-2"
          />
        </div>

        <div class="cta-button">
          <button><a href="#COTD-section">Learn more</a></button>
        </div>

        <button id="control-button-left">
          <img src="assets/arrow-left.png" alt="left arrow" height="30px" />
        </button>
        <button id="control-button-right">
          <img src="assets/arrow-right.png" alt="right arrow" height="30px" />
        </button>
      </section>

      <section class="intro-section">
        <div class="container">
          <div class="image-section">
            <img src="assets/logo.jpeg" alt="intro image" />
          </div>
          <div class="text-section">
            <h1>About us</h1>
            <ul>
              <li>
                <h2>Who are we?</h2>
                <p>
                  At Project MOSC, we are a dedicated team of automotive
                  designers and racing enthusiasts united by our love for speed
                  and innovation. Our diverse backgrounds in engineering,
                  graphic design, and motorsport allow us to push the boundaries
                  of racecar design.
                </p>
              </li>
              <li>
                <h2>What are we trying to achieve?</h2>
                <p>
                  Our mission is to educate and inspire. We share our passion
                  for racecars with both enthusiasts and newcomers, fostering a
                  deeper understanding of the artistry, engineering, and history
                  behind these incredible machines.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="COTD-section" id="COTD-section">
        <h2>We present you the car of the month</h2>
        <div class="COTD">
          <div class="card" data-class="<%= randomCar['class'] %>">
            <div class="carImg">
              <a
                href="/gallery/<%= randomCar['uid'] %>"
                class="carClass <%= randomCar['uid'] %>"
              >
                <img src="<%= randomCar['image_url'] %>" alt="Racecar" />
              </a>
            </div>
            <div class="textSection1">
              <h3><%= randomCar["name"] %></h3>
              <h3><%= randomCar["brand"] %></h3>
              <h4><%= randomCar["class"] %></h4>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <p>&copy; 2024 MOSC</p>
      <div class="footer-links">
        <p><a href="/impressum">Impressum</a></p>
        <p><a href="/privacy">Privacy</a></p>
      </div>
    </footer>

    <script src="/scripts/functionality.js"></script>
  </body>
</html>
