<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script>
      let rowCount = <%= totalDatabaseRows %>;  // Ensure this is passed correctly as a number
      let cars = <%- JSON.stringify(carData) %>;  // Correctly stringify carData and use <%- %> to avoid escaping quotes

      let randomCar = cars[Math.floor(Math.random() * rowCount)];

      console.log(randomCar);

      <div class="card" data-class="<%= carData[i]['class'] %>">
          <div class="carImg">
            <a
              href="/gallery/<%= carData[i]['uid'] %>"
              class="carClass <%= carData[i]['uid'] %>"
              ><img src="<%= carData[i]['image_url'] %>" alt="Racecar"
            /></a>
          </div>
          <div class="textSection1">
            <h3><%= carData[i]["name"] %></h3>
            <div></div>
            <h3><%= carData[i]["brand"] %></h3>
            <h4><%= carData[i]["class"] %></h4>
          </div>
        </div>
    </script>
  </body>
</html>
